@import "tailwindcss";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --bg-rose: #fce7f3;
    --bg-bleu: #dbeafe;
    --fg-fond-colonne-gauche: #fdf2f8;
    --fg-teal: #4C9AAD;
    --fg-teal-fonce: #115e59;
    --fg-accent-jaune: #facc15;
    --fg-accent-jaune-fonce: #ca8a04;
    --fg-gris-fonce: #1f2937;
    --fg-gris-moyen: #6b7280;
}